menu "Application Configuration"

	config NTP_SERVER
		string "NTP Server"
		default "pool.ntp.org"
		help
			Hostname for NTP Server.

	config TIMEZONE
		int "Your TimeZone"
		range -23 23
		default 0
		help
			Your local timezone.
			When it is 0, Greenwich Mean Time.

endmenu
